# default
*                           @jianghaolu @srnagar

# fluentgen
/fluentnamer                @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/fluentgen                  @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/fluent-tests               @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/azure-tests                @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
