# default
*                           @jianghaolu @srnagar @qwordy

# fluentgen
/fluentnamer                @weidongxu-microsoft @yungezz @haolingdong-msft
/fluentgen                  @weidongxu-microsoft @yungezz @haolingdong-msft
/fluent-tests               @weidongxu-microsoft @yungezz @haolingdong-msft
/azure-tests                @weidongxu-microsoft @yungezz @haolingdong-msft

# androidgen
/androidgen                 @JianpingChen @anuchandy

# protocol
/protocol*                  @qwordy @jianghaolu
