node_modules
eng
docs
vanilla-tests
azure-tests
fluent-tests
customization-tests
protocol-tests
protocol-resilience-test
protocol-sdk-integration-tests
logs
generate
generate.bat
generate-android.bat
.git
.github
.gitignore
.idea
*.iml
codemodel.yaml
*/src
*/target/classes
*/target/test-classes
