{
  "swagger": "2.0",
  "info": {
    "version": "2022-08-01",
    "title": "RequiredFieldsAsCtorArgsTransformation",
    "description": "required-fields-as-ctor-args transformation client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/argstransformation": {
      "get": {
        "description": "get methods",
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "output only model",
            "schema": {
              "$ref": "#/definitions/TransformationAsParentRequiredFields"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "TransformationAsRequiredFields": {
      "type": "object",
      "properties": {
        "rfc1123NonRequired": {
          "type": "string",
          "format": "date-time-rfc1123"
        },
        "rfc1123Required": {
          "type": "string",
          "format": "date-time-rfc1123"
        },
        "nameRequired": {
          "type": "string"
        },
        "urlBase64EncodedRequired": {
          "type": "string",
          "format": "base64url"
        },
        "unixTimeLongRequired": {
          "type": "integer",
          "format": "unixtime"
        },
        "unixTimeDateTimeRequired": {
          "type": "string",
          "format": "date-time"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "flatten output required property",
          "$ref": "#/definitions/FlattenOutputRequiredModel"
        }
      },
      "required": [
        "rfc1123Required",
        "nameRequired",
        "urlBase64EncodedRequired",
        "unixTimeDateTimeRequired",
        "unixTimeLongRequired",
        "properties"
      ]
    },
    "TransformationAsParentRequiredFields": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TransformationAsRequiredFields"
        }
      ],
      "properties": {
        "rfc1123RequiredChild": {
          "type": "string",
          "format": "date-time-rfc1123"
        },
        "rfc1123NonRequiredChild": {
          "type": "string",
          "format": "date-time-rfc1123"
        }
      },
      "required": ["rfc1123RequiredChild"]
    },
    "FlattenOutputRequiredModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "titleRequired": {
          "type": "string"
        }
      },
      "description": "flatten output required model",
      "required": ["titleRequired"]
    }
  }
}
