{
  "swagger": "2.0",
  "info": {
    "title": "PetResourceProviderClient",
    "description": "The Dogs Resource Provider Client.",
    "version": "2018-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Pets/pets/{petId}/{petSubId}/dogs/{dogName}": {
      "put": {
        "tags": [
          "Dogs"
        ],
        "operationId": "Dogs_CreateOrUpdate",
        "description": "Creates or updates a dog.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DogNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "petId",
            "in": "path",
            "description": "The id of pet group",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "petSubId",
            "in": "path",
            "description": "The id of pet sub-group",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "dog",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dog"
            },
            "description": "Dog object supplied in the body of the Patch dog operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dog"
            }
          },
          "202": {
            "description":"Accepted",
            "schema": {
              "$ref": "#/definitions/Dog"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Dogs"
        ],
        "operationId": "Dogs_UpdateDog",
        "description": "Updates (patches) a dog.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DogNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "petId",
            "in": "path",
            "description": "The id of pet group",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "petSubId",
            "in": "path",
            "description": "The id of pet sub-group",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "dog",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DogUpdate"
            },
            "description": "Dog object supplied in the body of the Patch dog operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dog"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Dog"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Dogs"
        ],
        "operationId": "Dogs_Get",
        "description": "Gets information about a dog.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DogNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "petId",
            "in": "path",
            "description": "The id of pet group",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "petSubId",
            "in": "path",
            "description": "The id of pet sub-group",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dog"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dogs"
        ],
        "operationId": "Dogs_Delete",
        "description": "Deletes a dog.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DogNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "petId",
            "in": "path",
            "description": "The id of pet group",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "petSubId",
            "in": "path",
            "description": "The id of pet sub-group",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "If the dog is deleted, this is an expected error code."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Pets/drinks/{drinkName}": {
      "put": {
        "tags": [
          "PetDrinks"
        ],
        "operationId": "PetDrinks_CreateOrUpdateDrink",
        "description": "Creates or updates a pet drink.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "drink",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Drink"
            },
            "description": "Drink object supplied in the body of the Put drink operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Drink"
            }
          },
          "202": {
            "description":"Accepted",
            "schema": {
              "$ref": "#/definitions/Drink"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "PetDrinks"
        ],
        "operationId": "PetDrinks_UpdateDrink",
        "description": "Updates (patches) a drink.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "drink",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DrinkUpdate"
            },
            "description": "Drink object supplied in the body of the Patch drink operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Drink"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Drink"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "PetDrinks"
        ],
        "operationId": "PetDrinks_GetDrink",
        "description": "Gets information about a drink.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Drink"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PetDrinks"
        ],
        "operationId": "PetDrinks_DeleteDrink",
        "description": "Deletes a drink.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "If the drink is deleted, this is an expected error code."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Pets/drinks/{drinkName}/{drinkCategory}/juices/{juiceName}": {
      "put": {
        "tags": [
          "PetJuiceDrinks"
        ],
        "operationId": "PetJuiceDrinks_CreateOrUpdateJuice",
        "description": "Creates or updates a juice.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "name": "drinkCategory",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The category of the drink.",
            "enum": [
              "Hot",
              "Cold"
            ],
            "x-ms-enum": {
              "name": "DrinkCategory",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/JuiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "juice",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Juice"
            },
            "description": "Juice object supplied in the body of the Put dog operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Juice"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Juice"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "PetJuiceDrinks"
        ],
        "operationId": "PetJuiceDrinks_UpdateJuice",
        "description": "Updates (patches) a juice.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "name": "drinkCategory",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The category of the drink.",
            "enum": [
              "Hot",
              "Cold"
            ],
            "x-ms-enum": {
              "name": "DrinkCategory",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/JuiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "juice",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JuiceUpdate"
            },
            "description": "Juice object supplied in the body of the Patch juice operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Juice"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Juice"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "PetJuiceDrinks"
        ],
        "operationId": "PetJuiceDrinks_GetJuice",
        "description": "Gets information about a juice.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "name": "drinkCategory",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The category of the drink.",
            "enum": [
              "Hot",
              "Cold"
            ],
            "x-ms-enum": {
              "name": "DrinkCategory",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/JuiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Juice"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PetJuiceDrinks"
        ],
        "operationId": "PetJuiceDrinks_DeleteJuice",
        "description": "Deletes a juice.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DrinkNameParameter"
          },
          {
            "name": "drinkCategory",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The category of the drink.",
            "enum": [
              "Hot",
              "Cold"
            ],
            "x-ms-enum": {
              "name": "DrinkCategory",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/JuiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "If the juice is deleted, this is an expected error code."
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "Dog": {
      "properties": {
        "managedBy": {
          "readOnly": true,
          "type": "string",
          "description": "A relative URI containing the ID of the owner that has the dog attached."
        },
        "sku": {
          "$ref": "#/definitions/DogSku"
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Logical zone list for Dog."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AnimalProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Dog resource."
    },
    "DogUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AnimalUpdateProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/DogSku"
        }
      },
      "description": "Dog update resource."
    },
    "DogList": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dog"
          },
          "description": "A list of dogs."
        },
        "nextLink": {
          "type": "string",
          "description": "The uri to fetch the next page of dogs. Call ListNext() with this to fetch the next page of dogs."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List Dogs operation response."
    },
    "DogSku": {
      "properties": {
        "name": {
          "type": "string",
          "enum": [
            "Small",
            "Medium",
            "Large"
          ],
          "x-ms-enum": {
            "name": "SkuNames",
            "modelAsString": true
          },
          "description": "The sku name."
        },
        "tier": {
          "type": "string",
          "readOnly": true,
          "default": "Standard",
          "description": "The sku tier."
        }
      },
      "description": "The dogs sku name."
    },
    "PuppySku": {
      "properties": {
        "name": {
          "type": "string",
          "enum": [
            "Small",
            "Medium",
            "Large"
          ],
          "x-ms-enum": {
            "name": "SkuNames",
            "modelAsString": true
          },
          "description": "The sku name."
        },
        "tier": {
          "type": "string",
          "readOnly": true,
          "default": "Standard",
          "description": "The sku tier."
        }
      },
      "description": "The puppies sku name."
    },
    "AnimalProperties": {
      "properties": {
        "timeCreated": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time when the dog was created."
        },
        "osType": {
          "type": "string",
          "description": "The Operating System type.",
          "enum": [
            "Black",
            "White"
          ],
          "x-ms-enum": {
            "name": "ColorTypes",
            "modelAsString": false
          }
        },
        "creationData": {
          "$ref": "#/definitions/CreationData",
          "description": "Dog source information. CreationData information cannot be changed after the animal has been created."
        },
        "animalSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the VHD to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the dog is not attached to a running owner, and can only increase the dog's size."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The dog provisioning state."
        }
      },
      "required": [
        "creationData"
      ],
      "description": "Dog resource properties."
    },
    "AnimalUpdateProperties": {
      "properties": {
        "osType": {
          "type": "string",
          "description": "the animal color type.",
          "enum": [
            "Black",
            "White"
          ],
          "x-ms-enum": {
            "name": "ColorTypes",
            "modelAsString": false
          }
        },
        "animalSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the VHD to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the dog is not attached to a running owner, and can only increase the dog's size."
        }
      },
      "description": "Dog resource update properties."
    },
    "CreationData": {
      "properties": {
        "createOption": {
          "type": "string",
          "enum": [
            "Import",
            "Copy",
            "Restore"
          ],
          "x-ms-enum": {
            "name": "DogCreateOption",
            "modelAsString": true
          },
          "description": "This enumerates the possible sources of a dog's creation."
        },
        "storageAccountId": {
          "type": "string",
          "description": "If createOption is Import, the Azure Resource Manager identifier of the storage account containing the blob to import as a dog. Required only if the blob is in a different subscription"
        },
        "imageReference": {
          "$ref": "#/definitions/ImageDogReference",
          "description": "Dog source information."
        },
        "sourceUri": {
          "type": "string",
          "description": "If createOption is Import, this is the URI of a blob to be imported into a managed dog."
        },
        "sourceResourceId": {
          "type": "string",
          "description": "If createOption is Copy, this is the ARM id of the source puppy or dog."
        }
      },
      "required": [
        "createOption"
      ],
      "description": "Data used when creating a dog."
    },
    "ImageDogReference": {
      "properties": {
        "id": {
          "type": "string",
          "description": "A relative uri containing either a Platform image Repository or user image reference."
        },
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "If the dog is created from an image's data dog, this is an index that indicates which of the data dogs in the image to use. For OS dogs, this field is null."
        }
      },
      "required": [
        "id"
      ],
      "description": "The source image used for creating the dog."
    },
    "DrinkSku": {
      "properties": {
        "name": {
          "type": "string",
          "enum": [
            "Small",
            "Medium",
            "Large"
          ],
          "x-ms-enum": {
            "name": "SkuNames",
            "modelAsString": true
          },
          "description": "The sku name."
        },
        "tier": {
          "type": "string",
          "readOnly": true,
          "default": "Standard",
          "description": "The sku tier."
        }
      },
      "description": "The drink sku name."
    },
    "DrinkProperties": {
      "properties": {
        "timeCreated": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time when the drink was created."
        },
        "drinkType": {
          "type": "string",
          "description": "The Operating System type.",
          "enum": [
            "Black",
            "White"
          ],
          "x-ms-enum": {
            "name": "ColorTypes",
            "modelAsString": false
          }
        },
        "creationData": {
          "$ref": "#/definitions/CreationData",
          "description": "Dog source information. CreationData information cannot be changed after the animal has been created."
        },
        "animalSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the VHD to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the dog is not attached to a running owner, and can only increase the dog's size."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The drink provisioning state."
        }
      },
      "required": [
        "creationData"
      ],
      "description": "Drink resource properties."
    },
    "DrinkUpdateProperties": {
      "properties": {
        "osType": {
          "type": "string",
          "description": "the drink color type.",
          "enum": [
            "Black",
            "White"
          ],
          "x-ms-enum": {
            "name": "ColorTypes",
            "modelAsString": false
          }
        },
        "drinkSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Ithis field is mandatory and it indicates the size of the drink to create."
        }
      },
      "description": "Drink resource update properties."
    },
    "Drink": {
      "properties": {
        "managedBy": {
          "readOnly": true,
          "type": "string",
          "description": "A relative URI containing the ID of the owner that has the drink attached."
        },
        "sku": {
          "$ref": "#/definitions/DrinkSku"
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Logical zone list for Drink."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DrinkProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Drink resource."
    },
    "DrinkUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DrinkUpdateProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/DrinkSku"
        }
      },
      "description": "Drink update resource."
    },
    "Juice": {
      "properties": {
        "managedBy": {
          "readOnly": true,
          "type": "string",
          "description": "Unused. Always Null."
        },
        "sku": {
          "$ref": "#/definitions/DrinkSku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DrinkProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Juice resource."
    },
    "JuiceUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DrinkUpdateProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "sku": {
          "$ref": "#/definitions/DrinkSku"
        }
      },
      "description": "Juice update resource."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "DogNameParameter": {
      "name": "dogName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the managed dog that is being created. The name can't be changed after the dog is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.",
      "x-ms-parameter-location": "method"
    },
    "DrinkNameParameter": {
      "name": "drinkName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the managed drink that is being created. The name can't be changed after the drink is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The maximum name length is 80 characters.",
      "x-ms-parameter-location": "method"
    },
    "JuiceNameParameter": {
      "name": "juiceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the juice that is being created. The name can't be changed after the juice is created. Supported characters for the name are a-z, A-Z, 0-9 and _. The max name length is 80 characters.",
      "x-ms-parameter-location": "method"
    }
  }
}