trigger:
  branches:
    include:
    - v4*

pr:
  branches:
    include:
    - v4*

pool:
  vmImage: 'vs2017-win2016'

steps:
- task: UseNode@1
  inputs:
    versionSpec: '10.x'

- script: npm install autorest -g

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    # publishJUnitResults: true
    # testResultsFiles: 'surefire-reportsTEST-.xml'
    goals: 'package'
    options: '-P local,integration'
