name: Fluent Lite - Build and Test Generation for All RPs
on:
  schedule:
    - cron: 0 18 * * *
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Checkout azure-rest-api-specs
        uses: actions/checkout@v2
        with:
          repository: azure/azure-rest-api-specs
          path: azure-rest-api-specs

      - name: Setup node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install autorest
        run: |
          npm install -g autorest
          npm install --no-bin-links

      - name: Setup jdk 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Build and Package
        run: mvn package -f pom.xml -P local --no-transfer-progress

      - name: Setup python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Codegen and Build
        run: |
          ./fluent-tests/gen_all.py -u . -s ./azure-rest-api-specs -r ./fluent-tests

      - name: Checkout wiki
        uses: actions/checkout@v2
        with:
          repository: ${{github.repository}}.wiki
          path: wiki
      - name: Push report
        run: |
          cp ./fluent-tests/report.md ./wiki/Fluent-Codegen-Report.md
          cd wiki
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Actions"
          {
            git add ./Fluent-Codegen-Report.md && \
            git commit -m '[Automation] Fluent Codegen Report'
          } || true
          git push
