name: Fluent Lite - Build and Test Generation for All RPs
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Clone azure-rest-api-specs
        run: git clone --depth 1 https://github.com/azure/azure-rest-api-specs

      - name: Setup node 14.x
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install autorest
        run: |
          npm install -g autorest
          npm install

      - name: Setup jdk 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Build and Package
        run: mvn package -f pom.xml -P local

      - name: Setup python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Codegen and Build
        run: |
          ./fluent-tests/gen_all.py -u . -s ./azure-rest-api-specs -r ./fluent-tests

      - name: Push report
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Actions"
          git pull
          {
            git add ./fluent-tests/report.md && \
            git commit -m '[Automation] Report' && \
            git push
          } || true
